@import "./utilidades/variable.scss";
@import "./utilidades/extends.scss";
@import "./utilidades/mixin.scss";


@import "./layout/header.scss";
@import "./layout/main.scss";
@import "./layout/footer.scss";





* {
    font-family: "Bebas Neue", sans-serif;
    color: $blanco;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    color: $negro;

}

body {
    background-color: #0A1128;
}

h1 {
    color: $blanco;
    width: 50%;
}

h2 {
    color: $negro;
}

h3 {
    color: $negro;
}

@import "./utilidades/mediaq.scss";