.marcas, .mcard-front,
.mcard-back, .ofertas, .navegacion-header ul, header div {
  display: flex;
  flex-direction: row;
}

.fondo-galpon, .card-offert {
  display: flex;
  flex-direction: column;
}

.logotipo {
  width: 5rem;
}

.headerfondo {
  background-image: url("/Images/Shai.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: sticky;
  top: 0px;
}

.tlogo {
  width: 4rem;
  z-index: 2;
}

.tlogo-fondo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}

header div {
  text-align: center;
  padding: 0.5%;
  margin: 0%;
  justify-content: space-between;
}

.navegacion-header ul {
  height: 10vh;
  margin: 2%;
}

.navbar-text-center {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
}

.navbar-brand img {
  height: 10vh;
}

.navbar-custom {
  background-color: #000000;
}

.nav-link {
  text-align: right;
}

main {
  background-color: #515253;
  padding-top: 20vh;
}

.ofertas {
  flex-wrap: wrap;
  justify-content: center;
}

.parent {
  grid-template-columns: repeat(2, 1fr);
}

.div1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.div2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.div3 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.div4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.div5 {
  grid-column: 1/3;
  grid-row: 4/5;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* <- importante para recorte */
}

.card-offert {
  width: 250px;
  background-color: #E5E5E5;
  padding: 2px;
  border: 3px solid #000000;
  margin: 10px;
  justify-content: space-between;
  color: #000000;
}

.card-offert h3 {
  text-align: center;
  font-size: 150%;
}

.card-offert img {
  width: 100%;
}

.precio-oferta span {
  text-decoration: line-through;
  color: #fd0000;
}

.precio-oferta {
  color: #1eff00;
  text-decoration: unset;
}

.card-offert button {
  background-color: #0A1128;
  width: 100%;
}

/* comentario para cargar imagenes */
.fondo-galpon {
  position: relative;
  background-image: url("../Images/galpon.jpg");
  background-size: cover;
  background-position: center;
  align-items: flex-end;
}

.fondo-cancha {
  position: relative;
  background-image: url("../Images/partido.jpeg");
  background-size: cover;
  background-position: center;
}

.parrafo-fondo {
  padding: 1rem;
  overflow: hidden;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.parrafo-fondo:hover {
  filter: grayscale(0%);
}

.parrafo-fondo p {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.parrafo-fondo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Card Flip */
.mcard {
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.mcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.mcard:hover .mcard-inner {
  transform: rotateY(180deg);
}

.mcard-front,
.mcard-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mcard-front {
  background-image: url("../Images/antonyedwars.avif");
  background-position: center center;
  background-size: cover;
}

.mcard-back {
  background-image: url("../Images/curryua.png");
  background-position: center center;
  background-size: cover;
  transform: rotateY(180deg);
}

.mapa {
  height: 40vh;
}

.marcas {
  background-color: #000000;
  align-items: center;
  height: 10vh;
  justify-content: start;
}
.marcas img {
  height: 4rem;
  object-position: center;
}
.marcas h2 {
  margin-bottom: 0 !important;
}

.articulos {
  height: 60vh;
  width: 100%;
}

footer {
  background-image: url("../../Images/floor.webp");
  background-size: cover;
  height: 10vh;
}

footer p {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

* {
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #000000;
}

body {
  background-color: #0A1128;
}

h1 {
  color: #ffffff;
  width: 50%;
}

h2 {
  color: #000000;
}

h3 {
  color: #000000;
}

@media screen and (min-width: 500px) {
  h1 {
    width: 100%;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
  }
  .div1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .div2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .div3 {
    grid-column: 1/4;
    grid-row: 2/4;
  }
  .div5 {
    grid-area: 4/1/4/3;
  }
  .div4 {
    grid-area: 4/3/4/3;
  }
  .parrafo-fondo {
    padding: 4rem;
  }
  .parrafo-fondo p {
    width: 50%;
  }
  .articulos {
    width: 18rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
