* {
    font-family: "Bebas Neue", sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: blue;
    font-size: 20px;
}

body {
    background-color: #0A1128;
}

.logotipo {
    width: 5rem;
}

.headerfondo {
    background-image: url("/Images/Shai.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: sticky;
    top: 0px;

}
.tlogo{
    width:  4rem;
} 

.tlogo-fondo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    bottom: 0.5rem;
    right: 0.5rem;
}
h1 {
    color: #FFFFFF;
    width: 50%;
}

h2 {
    color: #000000;
}

h3 {
    color: #000000;
}


header div {
    display: flex;
    text-align: center;
    padding: 0.5%;
    margin: 0%;
    justify-content: space-between;
}

.navegacion-header ul {
    display: flex;
    height: 10vh;
    margin: 2%;


}

.navbar-text-center {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
}

.navbar-brand img {
    height: 10vh;
}

.navbar-custom {
    background-color: rgb(0, 0, 0);
}

.nav-link {
    text-align: right;
}


main {
    background-color: #515253;
    padding-top: 20vh;
}

.ofertas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);

}

.div1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.div2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.div3 {
    grid-column: 1/4;
    grid-row: 2/4;
}

.div5 {
    grid-area: 4 / 1 / 4 / 3;
}

.div4 {
    grid-area: 4 / 3 / 4 / 3;
}

.parent img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    /* <- importante para recorte */


}

.card-offert {
    width: 250px;
    background-color: #E5E5E5;
    padding: 2px;
    border: 3px solid #000000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
}

.card-offert h3 {
    text-align: center;
    font-size: 150%;
}

.card-offert img {
    width: 100%;
}

.precio-oferta span {
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}

.precio-oferta {
    color: rgb(0, 128, 0);
    text-decoration: unset;
}

.card-offert button {
    background-color: #0A1128;
    width: 100%;
}

footer {
    background-image: url("../Images/floor.webp");
    background-size: cover;
    height: 10vh;
}

footer p {
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
}

@media (max-width:500px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .div1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .div2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .div3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .div4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .div5 {
        grid-column: 1/3;
        grid-row: 4/5;
    }
}
@media screen {
    
}